In [13]:
#Importing libraries
import pandas as pd
import numpy as np

In [14]:
#Adding CSV file
dataset = pd.read_csv('marks.csv')

In [15]:
#To see the dataset
dataset

    name  hrs  marks
0  vimal    7     70
1  rahul    5     50
2   eric    8     80
3  harry    2     20

In [16]:
#First few records
dataset.head()

    name  hrs  marks
0  vimal    7     70
1  rahul    5     50
2   eric    8     80
3  harry    2     20

In [17]:
#To check the type of data
type(dataset)

pandas.core.frame.DataFrame

In [18]:
#Target feature
y = dataset['marks']
y

0    70
1    50
2    80
3    20
Name: marks, dtype: int64

In [19]:
#Shape of target value
y.shape

(4,)

In [20]:
#Name is not taken as feature because we know it will not help in prediction!!!
x = dataset['hrs']
x = np.array(x)
x

array([7, 5, 8, 2], dtype=int64)

In [21]:
#Shape of feature
x.shape

(4,)

In [22]:
#Type of the featured dataset 
type(x)

numpy.ndarray

In [23]:
#Converting the shape of x from 1D to 2D
x = x.reshape(4,1)

In [24]:
#Checking the new shape of x
x.shape

(4, 1)

In [26]:
#Importing LinearRegression function from sklearn.linear_model module
from sklearn.linear_model import LinearRegression

In [27]:
#Initializing the LinearRegression() function
model = LinearRegression()

In [28]:
#Traing the model
model.fit(x, y)

LinearRegression()

In [35]:
#Prediction
model.predict([[10]])

array([100.])

In [36]:
#Saving the trained model
import joblib
joblib.dump(model, 'marks.pk1')

['marks.pk1']